node_modules/
npm-debug.log*
.DS_Store
dist/
.env
.env.*
*.log
coverage/
enhanced-resume.json
jd.json
jd.txt
jd2.txt
jdp.json
resume.json
.tmp/processed-job.json
deps/
_build/
config/*.secret.exs
nodeenv/*
nodeenv*
._*
priv/static/*
.vscode/*
Archive.zip
layouts_components.ex000
layouts_components.ex0000
PartyRock _ Career Coach.html
